@import 'variables';

.animatePanel {
    opacity: 0;
    max-height: 0;
    overflow-y: scroll;
    &.show {
        opacity: 1.0;
        max-height: calc(100vh - 100px);
        z-index: 1000!important;
    }
}

.animateIconHandle {
    > div {

        > span:first-of-type:not(.material-icons) {
            height: 50px!important;
            width: 39px!important;
            top: 14px!important;
            left: 5px!important;
            transition: .75s all;
        }
    }
    &[data-highlight=true],
    &.show {
        > div {
            > span:first-of-type {
                background-color: white;
            }
            .material-icons {
                color: black!important;
            }
        }
    }
}

.visibilty-transition {
    opacity: 1.0!important;
    transition: opacity .5s!important;
    //display: block!important;
}

.fadein-enter {
    opacity: 0;
    &.fadein-enter-active {
        opacity: 1;
        transition: opacity .5s;
    }
}
.fadein-leave {
    opacity: 1;
    transition: opacity .5s;
    &.example-leave-active {
        opacity: 0;
    }
}