[data-show=false] {
    display: none;
}

[data-disabled=true] {
    opacity: .5;
}

.TableBody {
    tr {
        transition-property: background-color;
        transition-duration: 2s, 1s;
        &.active {
            background-color: #e5e5e5;
        }
    }
}
/*
&[data-selected=true] {
    background: rgba(243, 121, 32, 0.15);
    box-shadow: 2px 0 0 rgb(243, 121, 32) inset;
    opacity: 1;
}

&[data-hoverable] {
    transition: .2s all;
    opacity: .8;
    &:hover {
        opacity: 1;
        background-color: rgba(243, 121, 32, 0.09);
        box-shadow: 2px 0 0 rgb(243, 121, 32) inset;
    }
}
*/